<div>
  <div class="mySave">
    <div class="mySave-area">
      <p class="mySave-ttl">
        <img src="tyrano/images/system/ttl_load.png">
      </p>

      <p class="mySave-close">
        <img class="menu_close" src="tyrano/images/system/_builder/menu_button_close.png" style="width: 155px;">
      </p>

      <div class="mySave-page-change">
        <ul>
          <li id="save-page_num1" class="is-page-change is-active">
            <p class="on"><img src="data/image/config/btn_num01_on.png"></p>
            <p class="off"><img src="data/image/config/btn_num01_off.png"></p>
          </li>
          <li id="save-page_num2" class="is-page-change">
            <p class="on"><img src="data/image/config/btn_num02_on.png"></p>
            <p class="off"><img src="data/image/config/btn_num02_off.png"></p>
          </li>
          <li id="save-page_num3" class="is-page-change">
            <p class="on"><img src="data/image/config/btn_num03_on.png"></p>
            <p class="off"><img src="data/image/config/btn_num03_off.png"></p>
          </li>
          <li id="save-page_num4" class="is-page-change">
            <p class="on"><img src="data/image/config/btn_num04_on.png"></p>
            <p class="off"><img src="data/image/config/btn_num04_off.png"></p>
          </li>
          <li id="save-page_num5" class="is-page-change">
            <p class="on"><img src="data/image/config/btn_num05_on.png"></p>
            <p class="off"><img src="data/image/config/btn_num05_off.png"></p>
          </li>
        </ul>
      </div>

      <div class="mySave-list-area">
        <ul class="mySave-list">
          {{for array_save}}
          {{if save_date == ''}}
          <li class="save_display_area save_list_item" data-num="{{:num}}">
          {{else}}
          <li class="save_display_area save_list_item is-click is-play-se" data-num="{{:num}}">
          {{/if}}
            <div class="save_item_inner">
              <p class="save_list_item_thumb">
              {{if img_data != ""}}
                <img src="{{:img_data}}">
              {{/if}}
              </p>

              <div class="save_list_item_area">
                <p class="save_list_item_num">
                  <span class="num">No.{{:listNum}}</span>
                  <span class="data">{{:save_date}}</span>
                </p>
                {{if save_date == ''}}
                  <p class="save_list_item_title">{{:title}}</span></p>
                {{else}}
                  <p class="save_list_item_title">{{:scene_title}}</span></p>
                  <p class="save_list_item_text">{{:title}}</p>
                {{/if}}
              </div>
            </div>
          </li>
          {{/for}}
        </ul>
      </div>

    </div>
  </div>

<script type="text/javascript" src="tyrano/menuSe.js" />

<!--
<div>

    <div class="menu_item" style="float:right"><img class="menu_close" src="tyrano/images/system/menu_button_close.png" style="width: 90px;"></div>
    <div style="clear:both"></div>

    <img class="button_smart button_arrow_up" src="tyrano/images/system/arrow_up.png" style="cursor:pointer;left:670px;top:20px;position:absolute;">
    <img class="button_smart button_arrow_down" src="tyrano/images/system/arrow_down.png" style="cursor:pointer;left:760px;top:15px;position:absolute;">


    <div class="area_save_list" style="margin-top:50px;overflow:auto">

    	<ul class="save_list">
    		{{for array_save}}
    			<li class="save_display_area save_list_item" data-num="{{:num}}">

    				<span class="save_list_item_thumb">
    				{{if img_data != ""}}
    					<img src="{{:img_data}}">
    				{{/if}}
    				</span>

    				<span class="save_list_item_area">
    					<span class="save_list_item_date">{{:save_date}}</span>
    					<span class="save_list_item_text">{{:title}}</span>
    				</span>
    			</li>
    		{{/for}}
    	</ul>

    </div>

    <img class="img_label img_label_load" src="tyrano/images/system/label_load.png" style="left: 0px; top: 0px; position: absolute; width: 452px;">
	<img class="img_bg_base" src="tyrano/images/system/_builder/bg_base_load.jpg" style="z-index:-1;left:0;top:0;width:100%;height:100%;position:absolute;">
 -->



  <script>

    $(function(){
      var nowPage = 1;
      savePageChange();

      $('#save-page_num1').click(function(){
        var click = 1;
        if(nowPage != click){
          nowPage = click;
          $('.is-page-change').removeClass("is-active");
          $(this).addClass("is-active");
          savePageChange();
        }
      });

      $('#save-page_num2').click(function(){
        var click = 2;
        if(nowPage != click){
          nowPage = click;
          $('.is-page-change').removeClass("is-active");
          $(this).addClass("is-active");
          savePageChange();
        }
      });

      $('#save-page_num3').click(function(){
        var click = 3;
        if(nowPage != click){
          nowPage = click;
          $('.is-page-change').removeClass("is-active");
          $(this).addClass("is-active");
          savePageChange();
        }
      });

      $('#save-page_num4').click(function(){
        var click = 4;
        if(nowPage != click){
          nowPage = click;
          $('.is-page-change').removeClass("is-active");
          $(this).addClass("is-active");
          savePageChange();
        }
      });

      $('#save-page_num5').click(function(){
        var click = 5;
        if(nowPage != click){
          nowPage = click;
          $('.is-page-change').removeClass("is-active");
          $(this).addClass("is-active");
          savePageChange();
        }
      });

      function savePageChange(){
        console.log('test');
        $('.mySave-list li').css({"display": "none"});

        if(nowPage == 1) {
          $('.mySave-list li:nth-child(1)').css({"display": "block"});
          $('.mySave-list li:nth-child(2)').css({"display": "block"});
          $('.mySave-list li:nth-child(3)').css({"display": "block"});
        }
        else {
          var item1 = (nowPage - 1) * 3 + 1;
          var item2 = item1 + 1;
          var item3 = item2 + 1;
          $('.mySave-list li:nth-child(' + item1 + ')').css({"display": "block"});
          $('.mySave-list li:nth-child(' + item2 + ')').css({"display": "block"});
          $('.mySave-list li:nth-child(' + item3 + ')').css({"display": "block"});
        }
      };
    });


    /*
  setTimeout(function(){
    var save_list_height = parseInt($(".tyrano_base").outerHeight()) - parseInt($(".mySave-list").offset().top) ;
    $(".mySave-list-area").css("height",save_list_height - 20);
  },30);
  */

  $('.is-click').click(function(){
    $('.message_close_btn').css({"display": "block"});
  });
  </script>
</div>
